<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends 'base.html'%}
</head>


<body>

{% block content%}
{% if is_paginated %}


<ol>
   {% for p in object_list %}
<li>
    <p>{{p.vote}}<a href={{p.get_absolute_linkdetail}}>  {{p.title}}</a></p>
    <a href={{p.get_absolute_voteurl}}>vote</a>

</li>

    {% endfor %}
</ol>

{% if page_obj.has_previous %}

      <a href="?page={{page_obj.previous_page_number}}">prev</a>
    {% endif %}



{% if page_obj.has_next %}
    {% if page_obj.next_page_number != paginator.num_pages %}
      <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
    <a href="?page={{paginator.num_pages}}">Last</a>
  {% endif %}
{% endif %}
<br>
Page {{ page_obj.number }} of {{ paginator.num_pages }}<br>
<br>
{% endblock %}
</body>
</html>
