<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     {% extends 'frame.html'%}
</head>
{% block main %}
<table>

<form method="post" action="{% url 'create' %}">
    {% csrf_token%}
<table width="50%">
    <tr height="100">
        <th width="50%">
            {{form.title.label_tag}}</th><th width="50%"> {{form.title}}</th><th width="50%"> {{form.errors.title}}</th> <br><br>
    </th>
        <tr height="100">
    <th width="50%">
    {{form.description.label_tag}}</th><th width="50%"> {{form.description}}</th>
</tr>
    <tr height="100"><th width="50%">
        <input type="submit" value="create"></th></form>
</table>
{% endblock %}
</body>
</html>
