<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
  .container {
    padding: 80px 120px;
  }</style>
</head>
<body>
<div class="container text-center">

<form method="post" action="{% url 'create' %}">
    {% csrf_token%}

<div class="row">
    <div class="col-sm-4" style="background-color:yellow;">
        {{form.title.label_tag}}</div><div class="col-sm-4" style="background-color:yellow;"> </div><div class="col-sm-4" style="background-color:yellow;"> {{form.errors.title}}</div></div>
<br><br>
<div class="row">
    <div class="col-sm-4" style="background-color:yellow;">
        {{form.description.label_tag}}</div> <div class="col-sm-4" style="background-color:yellow;">{{form.description}}</div></div><br><br>
<div class="row">
    <div class="col-sm-12" style="background-color:yellow;">
        <input type="submit" value="create"></div></div></form>

</div>
</body>
</html>
