<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<table>
<form method="post" action="{% url 'create' %}">
    {% csrf_token%}
<table>
    <tr>
        <th colspan="4">
            {{form.title.label_tag}}</th><th> {{form.title}}</th><th> {{form.errors.title}}</th> <br><br>
    </th>
        <tr>
    <th colspan="4">
    {{form.description.label_tag}}</th><th> {{form.description}}</th>
</tr>
    <tr><th>
        <input type="submit" value="create"></th></form>
</table>

</body>
</html>
