<!DOCTYPE html>
<html lang="en">
<head> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
     {% extends 'base.html'%}



</head>
<body>
{% block content %}

<div class="row">
    <div class="col-sm-4" style="background-color:yellow;">
        Username:</div> <div class="col-sm-8" style="background-color:yellow;">{{object.username}}</div><br><br>
    <div class="col-sm-4" style="background-color:yellow;">Description: </div><div class="col-sm-8" style="background-color:yellow;">{{object.userprofile.bio}}</div></div>
<br><br>
<div class="row">
    <div class="col-sm-4" style="background-color:yellow;">
        <a href={% url 'profileedit' %}>eit bio</a></div> <div class="col-sm-8" style="background-color:yellow;">
    <a href={% url 'create' %}>create post</a></div></div>
{% endblock %}
</body>
</html>
